[2018-06-15 10:04] nrontsis opened #2 "Continuous Integration"
Use Travis for continuous integration.

[2018-06-15 12:05] nrontsis opened #3 "Test thoroughly against MATLAB's implementation."
This can be done in CI with Octave oct2py and pytest.

[2018-06-15 12:15] nrontsis commented on #2
Travis is now working. I'll proceed in adding codecov reports.

[2018-06-15 14:19] #2 closed

[2018-06-18 13:01] nrontsis opened #4 "Extra noise in controller's input covariance"
I've noticed that the original implementation of PILCO adds an extra variance, equal to the noise of the underlying GPs, in the controller's input. This is done in [this](https://github.com/nrontsis/PILCO/blob/a4881fc72dc8ddb518b7a65cb30e01a8a83cb46e/tests/Matlab%20Code/propagate.m#L53) line.

Currently, we don't do this, so I [disabled the relevant line](https://github.com/nrontsis/PILCO/blob/a48

[2018-06-18 19:36] nrontsis commented on #3
Closing, as code coverage is now >99%.

[2018-06-18 19:36] #3 closed

[2018-06-19 05:21] voop opened #5 "Provide example for RBF controller"
Please provide example for using RBF controller.
In pilco 'init' function neither the controller nor the reward is assigned to the object if not 'None'
Thanks.

[2018-06-19 09:17] nrontsis opened #6 "Implement squashing function"
Support upper/lower limits to the controller's output via the use of a squashing sinusoidal function, similarly to the original MATLAB implementation.

[2018-06-19 09:34] kyr-pol commented on #5
Hi @voop, good catch, I'll get to it, thank you.

[2018-06-19 09:41] nrontsis commented on #5
@kyr-pol I fixed the comment of @voop in branch `rbf_controller`.

However, it seems that the refactoring I made in the RBF controller (the one to avoid rewriting `gp0`) messed up with GPflow's optimization.

When trying to optimize the controller I get: `No variables to optimize.`

[2018-06-19 09:56] kyr-pol commented on #5
Hm if that is the case with `Param`s inside `GPR` objects, yes it makes sense to just use the kernels. It is a bit weird and it seems worth looking into, but if we can get a quick fix we can look into it further later.

[2018-06-19 10:58] voop commented on #5
I think if ParamList from GPFlow is used instead of simple 'list' it will be visible to the optimization.
However, changing it will cause other issues which I was not able to resolve...

[2018-06-19 11:11] nrontsis commented on #5
Thanks @voop.  I believe that we want to use `ParamList` only for Rbf controller. This can be done by overriding the `create_models` function of `MGPR`.

I'll try to see if that works.

[2018-06-19 11:52] nrontsis commented on #5
Okay, `ParamList` made the parameters visible to the optimiser. I still had to create a fake GPR class, where X and Y are `Param` and not `DataHolders`, as I think that `GPflow` does not optimises over `DataHolders`.

However, I am now getting NaNs on the cost of the policy. @kyr-pol can you take a look?

[2018-06-19 12:22] kyr-pol commented on #5
Yes I will get to it later tonight and see what I can do.

[2018-06-19 23:50] kyr-pol commented on #5
It seems that the NaNs were a numerical issue. By reducing the number of basis functions significantly (from 100 to 10, but 20 work too) the optimisation progresses.

Still, there are frequent failures, either in the Cholesky decompositions or the controller optimisation, which appear sometimes when using the LinearController as well. We should investigate these further.

[2018-06-20 08:33] nrontsis commented on #5
Okay, that's good news. Let's close this and open a separate issue on numerical stability.

[2018-06-20 08:33] #5 closed

[2018-06-20 08:42] nrontsis opened #7 "Improve numerical stability"
Currently, we get Cholesky decomposition failures, especially in the `RBF` Controller (see #5).

We could try the following:
- Constraint the noise (jitter) parameters to a positive, sufficiently large, value, i.e. 1e-4, via use of `gpflow` `transforms`.
- Initialise the `RBF` inputs/outputs better. In my experience, the current the `np.random.rand` initialisation can lead to very bad conditioning

[2018-07-16 09:59] nrontsis opened #9 "Add a more elaborate example"
Potentially acrobot, according to Deisenroth's suggestion.

[2018-07-16 10:00] nrontsis commented on #4
Let's do this, at least for the sake for compatibility.

[2018-07-16 10:05] nrontsis opened #10 "Make trigonometric augmentation user friendly"
Matlab's implementation augments the variables that represents angles to two new states that are simply their cos and sin.

This is important for the performance of the algorithm and is possible to be done in the current implementation by simply passing an augmented dataset to the PILCO object.

Investigate how to do this in a more user friendly way.

[2018-07-17 17:17] mcyip opened #11 "outputs from mgpr.predict_on_noisy_inputs and pilco.propagate confusion"
Hi,

Thanks for some great code. I'm trying to read through it and make descriptive comments since theres a lot of dense code and several layers of wrappers of abstractions to TF :)

My question is to try to nail down the behavior of mgpr.predict_on_noisy_inputs (namely mgpr.predict_given_factorizations)

If I reference PILCO.py's propagate function i see the return is a delta value. (since the im

[2018-07-17 17:57] mcyip commented on #11
Thanks! This is a silly mistake on my part. Thanks for the clarification. Will do a PR.

[2018-07-17 17:57] #11 closed

[2018-08-13 09:05] jamesheald commented on #7
Are you able to show working example code for adding jitter, initialising hyper-parameters etc, please. I am running into numerical issues (Cholesky decomposition, matrix inversion), which are preventing me from running PILCO on reacher-v2 in openai gym.

[2018-09-18 09:04] RicardoDominguez commented on #10
Hey Nikitas,

I can address this issue if you haven't started working on it.

I was thinking about passing to the PILCO object a set of indices similar to the ones used in the MATLAB PILCO version (angi, dyni, dyno...)

[2018-09-21 16:12] nrontsis commented on #10
Sure, PRs are welcome!

While coding, keep in mind that the purpose of this package is to provide researchers/experts of the area of gaussian process dynamical systems with a basic & clean implementation for PILCO. So we usually opt for code readability/conciseness instead of user friendliness [that is, when we can't have both :) ].

[2018-09-21 20:59] kyr-pol commented on #9
So I did some experimenting with different gym environments, and mostly the continuous mountain car one ('MountainCarContinuous-v0').  I created a new branch, 'more_envs', to work on this and other environments.

1. Increasing the car's power, allowing it to climb the hill without momentum-> this works, but it is trivial.

2. Subsampling and longer horizons. To subsample from the environment, each

[2018-10-01 05:52] nrontsis commented on #9
It sounds like a complicated task with many variables to tune.

I can write the connection for Matlab with gym to test PILCO's original implementation. However, I won't have time to tune it (adjust gains for controllers etc) before the end of October. @kyr-pol would you be up for doing that?

[2018-10-01 13:07] kyr-pol commented on #9
Yes, thanks, that would be helpful and I can work on the testing and tuning afterwards if necessary.

I have done some more experiments though, working on the pendulum swing up task as well as the mountain car, and it seems that the model gets quite inaccurate over longer time horizons, more so than the Matlab version on similar scenarios. I'll give some examples below.

[2018-10-01 18:48] kyr-pol commented on #9
Some more observations.

**Mountain Car**
Model inaccuracy, on longer term prediction persists, even with more data points, and also when, by subsampling, every step is long enough that the episode consists of a smaller number of steps.
For example (edc6d81) with a subsampling rate of 20, every rollout has just 5 time steps. After collecting 260 data points:
<img width="476" alt="mountain_car_subs

[2018-10-03 02:08] nrontsis commented on #9
Okay, thanks for the detailed results.

Another possibility might be differences in the training of the gp? Matlab's implementation has a special optimiser that penalises extreme lengthscales and snr (see hypCurb.m).

Either way it seems complicated. I now think even more that the best way is to link gym with MATLAB's PILCO and see the differences there.

[2018-10-11 18:55] thaipduong opened #12 "How to derive the closed form for M, S, and C in squash_sin(m, s, max_action=None)"
Hi guys,
I'm trying to analytically derive the closed forms for M, S and C used in squash_sin function. Deisenroth's thesis only points to some integrations in Appendix A.1 but I don't how he came up with the form used in the code.
Do you happen to know how to derive the forms? Any pointers would be much appreciated.

Thanks.

[2018-10-11 21:55] thaipduong commented on #12
Never mind. I figured it out. Thanks.

[2018-10-11 21:55] #12 closed

[2018-10-12 13:52] kyr-pol opened #13 "Resetting different components of PILCO: Models, controller and reward function"
In many cases the user might want to re-initialise some component, while keeping the rest as they are, for example:

1. Restarting the model or the controller optimisation, to avoid getting trapped in local minima. We might want to restart one of the two (and keep the other intact) or restart both and make one or multiple restarts and keep the most promising version etc.

2. By changing the reward

[2018-10-12 20:14] kyr-pol commented on #13
Working on this I decided to print some extra information about the 'Tensorflow' graph in https://github.com/nrontsis/PILCO/commit/68821119c554ed228bec3ff39d7d0167f294c2f0, and it seems like the number of operations in the graph increases for every iteration (the number of variables stays the same). I assumed this was because the number of data points increases, but after reducing the number of da

[2018-10-13 05:20] nrontsis commented on #13
Very interesting, thanks for digging it up.

It might be related to [this](https://github.com/GPflow/GPflow/issues/857#issuecomment-426224134).

I will try to investigate today (unless the usual :P )

[2018-10-13 15:28] nrontsis commented on #13
It seems that the problem is with gpflow's minimizer, as described [here](https://github.com/GPflow/GPflow/issues/798), and I think [this](https://github.com/GPflow/GPflow/issues/798#issuecomment-426225098) would fix it.

[2018-10-13 18:55] kyr-pol commented on #13
I am running 1.6.0, I'm getting the warning too, just didn't notice it in the output. I'll replace the deprecated function. Good, that looks like the issue we are having, let's see what work around is favoured.

[2018-10-15 07:14] nrontsis commented on #13
@kyr-pol I think that I fixed it in a88e6e1 but Travis is complaining for some reason.

[2018-10-23 16:59] nrontsis opened #14 "Use Matlab's implementation to train OpenAI gym tasks"
This will allow for easier debugging and comparison between the two implementations.

[2018-11-22 03:49] hjzh4 commented on #12
Hi @thaipduong, could you give me some hits on it? I am also trying to figure this out while have no clues yet.

[2018-11-22 08:17] mdbenito commented on #12
Consider two gaussians X_i and X_j and their sines Y_i = sin X_i and Y_j = sin X_j. You want to compute the covariance E[(Y_i - EY_i) (Y_j - EY_j]. After expanding the product and simplifying a bit, one of the terms is E[Y_i Y_j]. This is the product of two sines so you can use the formula expressing it as a a difference of cosines. Use linearity and after some arithmetic you have entry ij in the

[2018-11-22 08:56] hjzh4 commented on #12
Hey Miguel, thanks for the help!

I have a question that I think Y_i is independent with Y_j so cov(Y_i, Y_j) should be 0 while it is clearly not true wrt the code.

Could you please tell me where I am wrong?

[2018-11-22 23:52] hjzh4 opened #15 "Missing \delta^2 in C = max_action * tf.diag( tf.exp(-tf.diag_part(s)/2) * tf.cos(m))"
It seems C_ii = max_action_i \* (E[X_i]\*sin(X_i)] - E[X_i]\*E[sin(X_i))])
E[X_i\*sin(X_i)] = exp(-var(X_i) / 2)(var(X_i) \* cos(mean(X_i)) + mean(X_i)sin(mean(X_i)))
However, there is no var(X_i) in the formula for C in the code

I think it should be C = max_action \* tf.diag(tf.exp(-tf.diag_part(s) / 2) \* tf.diag_part(s) \* tf.cos(m))

[2018-11-23 00:02] thaipduong commented on #12
@hjzh4 , I found my notes on this here: https://drive.google.com/file/d/1MqZMkRM6vkLJIOOhe8gXFddpMflLJvB2/view?usp=sharing
It's the same as what @mdbenito mentioned above. Hope it helps.

[2018-11-23 00:06] hjzh4 commented on #12
@thaipduong @mdbenito , thanks a lot guys! I just figured it out!
could you also take a look at issue #15 I think there is something missed in the formula for computing C

[2018-11-23 12:09] nrontsis commented on #15
Thanks for opening the issue but I am having trouble understanding your math. Also, the code in `squash_sin` has been tested against the `MATLAB` implementation `gSin.m` (see [this](https://github.com/nrontsis/PILCO/blob/master/tests/test_controllers.py) test). So if you are correct, either the unit test is erroneous or both implementations are wrong.

Please write the math more clearly and open a

[2019-02-20 03:04] wonchul-kim opened #18 "local variable 'model' referenced before assignment"
When I run inverted_pendulum.py, this below error came up.

-----Learned models------
---Lengthscales---
        GP0       GP1         GP2        GP3
0  7531.310  5412.474   42419.628  14051.520
1  8967.154  5576.802      42.032      4.307
2     6.223    18.859     143.548      8.425
3  9088.658    42.614  165237.366    178.836
4    28.919    58.716      18.404     15.033
---Variances---
     GP0

[2019-02-20 04:00] wonchul-kim opened #19 "How dose it work?"
From example, inverted_pendulum.py, is it just learning the dynamics of pendulum?

How can I test it if it learns well?

[2019-02-20 12:42] #18 closed

[2019-02-21 00:05] #19 closed

[2019-02-21 00:53] wonchul-kim opened #21 "Can it be applied to 'Pendulum-v0'?? && memory problem"
Hi!

I tried to apply it with Pendulum-v0 environment.
However, I don't think it worked well at all.
Could you give me some advice?

And, when I run it, there came some error b/c of memory shortage.
is there something I can manage the memory?

[2019-02-21 12:20] kyr-pol commented on #21
Hi Wonchul, I've worked with the Pendulum-v0 environment too.

Firstly let me note that on the more_envs branch we are working on several extra environments (we have good results in a version Pendulum-v0, inverted double pendulum and the Swimmer), we are gonna merge some of the work there on master soon after cleaning it up a bit, but you can take a look if you are looking for extra applications.

[2019-02-21 15:05] wonchul-kim commented on #21
Hi, Kyriakos.
First, I want to thank you for sharing your experience.

I surely want to take a look before you complete the work, if you don't
mind.
What I want to do is only to understand how PILCO exactly works on the
level of implementation using openai gym, not mujoco, because I don't have
license...

And, for the memory problem, is there any way to assign memory in advance
with gpflow as tens

[2019-02-21 16:08] kyr-pol commented on #21
Sure, it makes sense to want to use it without mujoco.

For the memory problem yes, you can do it the standard tensorflow way.  What we use when running on a GPU is something like:

[code]

before making the environment.

I am not sure this is gonna help, since it restricts the memory tf is taking, but if you are running out of it, it probably means that tf used up all available memory and it stil

[2019-02-21 16:13] wonchul-kim commented on #21
Thanks for your advice!

I will try it!!

If you tried PILCO to other environments including pendulum-vo, could I see
the code?

On Fri, 22 Feb 2019 at 1:08 AM Kyriakos Polymenakos <
notifications@github.com> wrote:

[2019-03-09 10:19] jastfkjg opened #24 "Third output of function 'predict_given_factorizations' in mgpr.py"
Hi!

I try to read the code, but I can't understand what the third output from  **predict_given_factorizations** in **mgpr.py**.

It's noted as ```inv(s) * input-ouputcovariance```, but can you give more explanation about that and why
do we need that.

Thanks!

[2019-03-11 19:55] kyr-pol commented on #24
Hi @jastfkjg,

For a lot of the core functions we are following closely the matlab implementation (found [here](https://github.com/ICL-SML/pilco-matlab/tree/master/gp)) so the references to the original research are directly applicable. The most comprehensive is [Efficient Reinforcement Learning using Gaussian Processes](https://spiral.imperial.ac.uk/bitstream/10044/1/13927/10/thesis_mpd_corrected

[2019-03-11 23:43] kyr-pol commented on #21
Hey @wonchul-kim you might wanna check the pull request I added [here](https://github.com/nrontsis/PILCO/pull/23), it should be more clear and easier to make sense than the more_envs branch I mentioned above. It includes 3 extra environments, including the Pendulum-v0.

[2019-03-12 02:26] #24 closed

[2019-03-13 22:49] nrontsis commented on #15
Closing due to inactivity.

[2019-03-13 22:49] #15 closed

[2019-03-14 10:18] ven-kyoshiro opened #25 "Initialisation of ExponentialReward: eye(.) vs ones(.)"
The initialisation of the weights `W` of the exponential reward has a default initialisation of `np.ones(.)`, as defined in the following line:
https://github.com/nrontsis/PILCO/blob/6ebcc7df9a8190c542445f0c82d835c94b745c8e/pilco/rewards.py#L25

But when I calculate the reward mean concentrically centered on the target,
[code]
the score is not a constant, as it can observed in the following plot:

[2019-03-14 11:07] nrontsis commented on #25
Also, @ven-kyoshiro can you elaborate on why would you want the cost to be constant across theta? Also, it would be helpful to make the same argument with a real, simple example (like an inverted pendulum).

[2019-03-14 13:59] ven-kyoshiro commented on #25
Thanks for kind response!! I read this [original paper](http://mlg.eng.cam.ac.uk/pub/pdf/DeiRas11.pdf) . An equation (25) in the paper was defined by using L2-Norm, so I think the state which is same distance form target should return the same reward.

[2019-03-14 14:18] kyr-pol commented on #25
Hey @ven-kyoshiro, thanks, that's a good catch. I agree `eye(.)` would be more appropriate as the default value. In most cases we expect the user to define a reward relevant to the task at hand, but `eye(.)` seems more reasonable as the standard choice, and even in our examples the rewards used are diagonal. I think I initially went with `ones` for debugging purposes (many zero values could hide m

[2019-03-14 15:44] #25 closed

[2019-03-19 19:41] kyr-pol commented on #21
I am closing this for now, if there are more questions feel free to re-open it.

[2019-03-19 19:41] #21 closed

[2019-03-29 17:34] #13 closed

[2019-04-03 13:12] JoeMWatson opened #26 "pendulum_swing_up.py example doesn't solve the task"
![Rollout_7](https://user-images.githubusercontent.com/11985625/55481233-3041b480-5622-11e9-99e1-3558baa43e0b.png)

Attached is a plot of the time domain performance of the controller after the 8 episodes. As you can see, it is not close to stabilizing about 0 or +/-2pi.

[2019-04-03 15:16] kyr-pol commented on #26
Hey @JoeMWatson,
Thanks for pointing this out, I'll look into this, I had previously run about 20 random seeds it seemed quite stable. There is always the chance that learning will diverge, but in these examples and with the chosen parameters, performance has been consistently good. I'll rerun some of these, I'll try another system too.

Could you share some details about your system, tf and gpflo

[2019-04-10 13:45] JoeMWatson commented on #26
Upon further investigation, it seems the random seed affects how many iterations are required for convergence. A random seed on 0 (currently on Master) needed 12 iterations but the script currently performs 8 on Master, meanwhile a random seed of 1 only required 3!

Maybe this sensitivity should be documented and a better performing seed chosen for the example script.

[2019-04-26 07:54] jastfkjg opened #27 "Matrix contain inf or nan"
hello,

  when I use mgpr to predict next observation, sometimes “matrix contains infs or nans" error occurs. I find it first appear in `mgpr.py predict_given_factorizations`, with code `c = self.variance / tf.sqrt(tf.linalg.det(B))`. It turns out that tf.linalg.det(B) is negative. What should I do about this ?

Thanks

[2019-04-26 09:03] nrontsis commented on #27
Thanks for opening the issue. This shouldn't happen as `B` is by construction positive definite, thus its determinant must be positive. Perhaps the initial variance `s` that you are passing is not positive definite?

[2019-04-26 09:35] jastfkjg commented on #27
Thanks. It's a prob in my code. I'll close this.

[2019-04-26 09:35] #27 closed

[2019-05-17 19:33] iljastas opened #28 "mujoco-py needed"
Hi,
does any else the problem that mujoco-py is missing. The installation is due to regestritation and fees a little bit annoying. I'm working with python3 and ubuntu18.04.
Best regards,
ilja_stas

[2019-05-20 13:22] nrontsis commented on #28
Mujoco is only needed for the examples. You can write your example for an environment/RL task that is not based on mujoco.

[2019-05-26 11:40] iljastas opened #29 "PILCO for time delay"
Hi,
I'm thinking to use PILCO for a system with a significant time delay (called dead time in German).
Do you know any publications for Gaussian Processes with such a system?
Do you think PILCO is able to control a highly nonlinear system with a dozen of inputs and a relevant time delay?
Thanks,
iljastas

[2019-05-26 14:34] kyr-pol commented on #29
Hi @iljastas,
I don't remember anything of the sort form the top of my mind, if I come by something I'll link it.

I think it should be doable, or at least worth trying, as long as your system has reasonably smooth dynamics: no contact dynamics (robotic legs bumping on the ground for example) etc. Now it really depends on how precise you need the controller to be, how unstable the system is, and s

[2019-05-27 06:39] iljastas commented on #29
Thanks! Maybe I will try it with a Smith-Predictor

[2019-05-27 20:33] #28 closed

[2019-08-20 13:36] jaztsong opened #31 "Cannot run on low-profile GPU"
I tried to run the code on various platforms, including PC, laptop and embedded systems. It appeared no problem on my PC with powerful GPU - RTX 2080. However, with mediocre GPU on laptop (Quadro M1000M) and embedded system (Jetson TX2), the program constantly complained about "too many resources requested to launch". The following shows the complete error message, which was triggered in function

[2019-08-20 13:49] nrontsis commented on #31
Thanks for opening the issue. Could you provide with a minimal example so that we investigate?

[2019-08-20 14:24] jaztsong commented on #31
I'm simply using the example - `PILCO/tests/test_predictions.py`.

I tested on CPU and GPU version of both tensorflow 1.13.1 and 1.14.0. There was no problem for CPU tensorflow, but no luck on GPU version. My guess is that the problem occurred when the function **predict_given_factorization** passing through the *autoflow* of GPflow.

[2019-08-20 14:36] nrontsis commented on #31
Can you try running ```PILCO/tests/test_predictions.py``` with the following changes?
[code]
instead of
[code]
and
[code]
instead of
[code]

The RL algorithm will probably not converge to any useful policy but I am curious to see if this is a memory or architecture issue.

[2019-08-20 14:39] nrontsis commented on #31
When we wrote the repo `GPytorch` was not as mature as `GPflow`. I guess that switching to `pytorch` would be a great but unfortunately I might not have the time for such a big change (at least in the foreseeable future...)

[2019-08-20 15:25] jaztsong commented on #31
I cannot try `examples/inverted_pendulum.py` on Jetson TX2, since installing the Mujoco(I actually using Roboschool) environment is excruciating. But I can confirm that the memory is not the issue as the memory usage didn't hike up when running the program.

After a two-day investigation, so far, my impression is that the operations in the function `predict_given_fractorization` caused cuda regist

[2019-08-21 11:02] kyr-pol commented on #31
Hi @jaztsong,

I had experience with resource allocation errors but it was memory issues in my case. They arise usually in the backward pass (when calculating gradients), where big matrices, order N^2D^2 with N the number of data points and D the number of dimensions are involved.

You could try something like reducing the number of data points used in the test, (it's a 100 and it's
hard coded, yo

[2019-08-21 14:56] jaztsong commented on #31
@kyr-po I actually changed the number of data points to 3, and it still broke. Bummer.

[2019-08-25 03:13] jaztsong commented on #31
After debugging the code line by line for a few days, I finally solved the problem. It turned out the culprit is that **the matrix determinant operation** in `mgpr.py` on GPU caused some memory issue. The workaround solution I got is to calculate determinant by getting LU decomposition first and calculating the product of the diagonal units as the determinant.

The code can run now without error a

[2019-08-25 03:13] #31 closed

[2019-08-25 14:13] nrontsis commented on #31
Thanks a lot @jaztsong for the investigation! I believe that there is quite a big space for improvement in `mgpr.py`. Hopefully I will find time at some point to optimize it...

[2019-08-25 14:15] nrontsis opened #32 "Investigate performance of tf.linalg.det in predict_given_factorizations"
See [this](https://github.com/nrontsis/PILCO/issues/31#issuecomment-524596610) comment

[2019-08-31 15:54] jaztsong opened #33 "Implement `predict_on_noisy_input` with MCMC in gpytorch"
I'm recently starting to re-implement PILCO in pytorch for better intergration with my other works. To leverage the fast prediction (KISS-GP) in gpytorch, I decided to use MCMC sampling approach to implement the core function in `mgpr.py` - `predict_on_noisy_input` which use _moment matching_ based on the original paper.

However, the result I got from sampling is dramatically different from _mome

[2019-09-01 17:12] kyr-pol commented on #33
Hi @jaztsong ,

I haven't worked with GPytorch or pytorch, so I wouldn't know if some specific detail is wrong with your implementation, but the logic seems ok. A more general comment: I think what you are doing here is the [unscented transform](https://en.wikipedia.org/wiki/Unscented_transform), which is a reasonable alternative to moment matching, but it might make policy optimisation harder (in

[2019-09-01 21:17] jaztsong commented on #33
@kyr-pol Thanks for the reponse.

I'm only using _mgpr_ for dynamics model, not for controller so far. So the gradients of controller's parameters doesn't travel through _mgpr_.

Currently, the way I'm testing with `tests/test_prediction.py` by comparing the sampling result against the matlab code. The mean is not too bad with the relative error around 10~30%. But the variance and input-output cov

[2019-09-01 23:49] kyr-pol commented on #33
What's your GP kernel's hyperparameters and what's the covariance on the initial state?
For very small covariances the estimates with both methods should converge to the predicted values for mean and variance from the standard GP equations. If one or both of them don't, then you know what's wrong. If they do, but when the initial covariance increases the estimates diverge (and increasing the numbe

[2019-09-02 16:58] jaztsong commented on #33
Thanks. I will run more experiments to compare the outputs.

One more issue I need to consult your wisdom is that I had zero success to get a good policy in the examples (`inv_double_pendulum.py` and `inverted_pendulum.py`) in this repo (using all your code).

The only change I made is to replace mojoco-based environment with roboschool-based environment. They are supposed to be identical to each

[2019-09-02 19:09] kyr-pol commented on #33
So you are using the code from the examples folder, just with roboschool environments instead of gym? If so, I would expect it to be a matter of different representation of states, different scaling etc., so you would have to set a different initial state, goal state and so on. Maybe the notebook in the examples folder can help: [Hyperparameter setting and troubleshooting tips.ipynb](https://githu

[2019-09-07 04:20] jaztsong commented on #33
@kyr-pol Thank you for your suggestion. I did check the state definitions of roboschool vs gym, it looks like they are meant to be identical. But I don't know why it didn't work. I will definitely go check the hyperparameter settings.

An addition quick question is that, if I use a sampling approach, how does the backpropagation flow? Does it consider the sampled points as constant tensors?

[2019-09-07 15:04] kyr-pol commented on #33
Hey, not sure how would pytorch, or tensorflow for that matter, implement backpropagation with sampling, but yes I'd expect the samples to be constant, after all they don't change and are not optimised.
I recently came across a paper that uses numerical quadrature for propagating uncertainty in PILCO and the authors calculate gradients too: [Numerical Quadrature for Probabilistic Policy Search](ht

[2019-09-26 14:19] ManuelM95 opened #34 "Extra control dimension for varying target values"
Hey,
I'm a student from TUM using your PILCO implementation. I want to optimize the controller for various target values depending on an input target state.  I'm planning to add the difference (of one of the states)  of the target state and the momentary value as an extra control dimension.
As a result of that the model would be dependant on the states, but the controller would be dependant on the

[2019-09-28 13:20] #9 closed

[2019-09-28 14:01] kyr-pol commented on #34
Hi @ManuelM95 ,

This a good question, it will take some augmentations on the code base that would be good for the project in general in my opinion.

A simple first approach would be train multiple controllers, one for each distinct task, or subtask, depending on how you want to structure it. This doesn't solve your case, but it might be helpful step.

A similar functionality in the original PILCO

[2019-09-28 18:18] ManuelM95 commented on #34
Hi @kyr-pol ,
many thanks  for your detailed answer, I was getting nervous because of the lack of progress ;). I will discuss your input with my tutor and check with him how we plan to proceed.  I will keep you posted.

Thanks, Manuel

[2019-10-02 18:33] ManuelM95 commented on #34
Hey @kyr-pol ,
I spoke with my tutor and since my deadline is in 2 months and I also need to write the semester  thesis, I won't be able to implement those changes :( .Sorry for that and good luck with the project.

Thanks for the help,
Manuel

[2019-10-03 09:04] kyr-pol commented on #34
Ok, no problem, good luck with the thesis!

[2019-10-03 09:04] #34 closed

[2019-10-07 03:04] dtailor17 opened #35 "Computation of cross-covariance of state and action"
From only looking at the docstrings of the relevant functions, I think I noticed a discrepancy to the paper. I am writing this without checking the math in the code so I may be wrong.

`V` returned in `RbfController.compute_action()` in `controllers.py`
corresponds to Cov[x,u]

From backtracking to `MGPR.predict_given_factorizations()` in `models/mgpr.py`, I think the docstrings indicate that:

**

[2019-11-14 02:58] leekwoon opened #37 "Question about MGPR."
Hi,

Is there any reference for multi input/output Gaussian Process Regression?
I'd like to understand the detail.

Thanks

[2019-11-20 14:49] #37 closed

[2019-12-18 17:28] sebelinho opened #38 "Error with cloudpickle"

[2019-12-19 13:16] #38 closed

[2020-01-03 07:29] dqxajzh opened #39 "Computation time for policy optimization"
I find that the computation time for policy optimization will gradually increase, and the project is terminated by the tensorflow ResourceExhaustedError.

[2020-02-11 22:34] powertj opened #40 "Reference for predicting with uncertain inputs with SMGPR"
Do you have a reference available for the derivation of prediction with uncertain inputs with a sparse GP? I haven't been able to find one anywhere.

[2020-02-12 16:08] kyr-pol commented on #40
Hey @powertj,
I haven't found a reference that shows specifically how to combine both, but in general they are separate procedures.  The sparse approximation used here (FITC, Snelson and Ghahramani) is based on inducing points (pseudoinputs for the GP, replacing the real data points). Once you get the approximation to the kernel according to the method for sparse GPs you are using (see par. 2.4, S

[2020-02-18 13:00] NicolayP commented on #39
My guess is that this is inherently due to the very nature of Gaussian Processes. GPs keeps all the data in memory that will then be used to do a prediction. The more you run pilco the more samples will be collected and thus the prediction time will increase. If your familiar with the big O notation, gp prediction time is O(n^3) where n is the number of samples. There is some research going on to

[2020-02-18 14:42] nrontsis commented on #39
I think I agree with @NicolayP. You might want to use sparse gaussian processes, which are [already implemented in PILCO](https://github.com/nrontsis/PILCO/blob/master/pilco/models/smgpr.py).

Let me know if this helps with your problem.

[2020-02-18 15:29] dqxajzh commented on #39
Thank you for your help @nrontsis @NicolayP, I will try the sparse gaussian processes  PILCO

[2020-04-02 10:55] patxikuku opened #41 "Gradient based policy optimisation."
Hello,

if I understood correctly, the authors of PILCO uses a gradient based method
for optimising the policy. In the current implementation it doesn't seem to the
case, you use L-BFGS-B without giving the computation of the jacobian.

Did you make any experiments using a gradient based method ?

[2020-04-02 11:01] nrontsis commented on #41
Gradients are computed and used in `L-BFGS-B`. This is the whole point of using `TensorFlow`. Perhaps this is not immediately obvious when examining the code, because the gradient computation is handled via `GPflow`.

[2020-04-02 11:01] #41 closed

[2020-04-02 14:54] #40 closed

[2020-04-04 02:00] patxikuku opened #42 "SMGPR : the induced points are different for each model"
In the implementation of calculate_factorization of the class SMGPR,
Z_0 (induced points of models[0]) is used for all the SGPR models but since the
models are optimized separately, all the sets Z_i are different.
In the original PILCO implementation all the models share the same induced points.
Could this affect the performances of SMGPR ?

I saw that GPFlow seems to be able to handle shared indu

[2020-04-08 00:15] patxikuku commented on #42
GPflow multioutputs is not available for the moment for GPR and SGPR.
[https://github.com/GPflow/GPflow/issues/1209](https://github.com/GPflow/GPflow/issues/1209)

[2020-04-23 12:07] NicolayP opened #43 "calculate_factorizations question"
I'm a little confused with this following line. K has dimensions (target_dim * n * n) where n is the number of training points.
line 71 [python](https://github.com/nrontsis/PILCO/blob/7125590afebd50e923b91669f65a70141b229a61/pilco/models/mgpr.py#L71)
`L = tf.cholesky(K + self.noise[:, None, None]*batched_eye)`
In the reference paper and implementation, they do moment matching for every target dime

[2020-04-23 12:14] nrontsis commented on #43
I believe that the [documentation of `tf.linalg.choleksy`](https://www.tensorflow.org/api_docs/python/tf/linalg/cholesky) answers your question. Calling the cholesky on a "n-dimensional" tensor is simply computing the cholesky decompositions of all the 2-dimensional matrices [..., :, :] contained in this tensor.

[2020-04-23 12:16] #43 closed

[2020-04-27 14:09] StefanGao1114 opened #44 "Cost for trajectory following"
Hi, I'm trying to use PILCO on Path tracking for my graduation thesis, but for now the control results are not ideal.
I think it could be improved with a reword for trajectory following.
Do you know an easy way to do this ?
Thanks a lot for the help

Stefan

[2020-04-29 22:23] #29 closed

[2020-04-30 22:19] kyr-pol commented on #7
This happened fairly rarely, but doesn't happen in the newer version, after many runs on various examples. Constraining the lengthscales of the RBF controller seemed to help.

[2020-04-30 22:19] #7 closed

[2020-04-30 22:23] kyr-pol commented on #26
After recent updates and testing, performance is quite consistent across 10 random seeds so I am closing this.

[2020-04-30 22:23] #26 closed

[2020-05-26 03:43] Skylark0924 opened #46 "Cholesky decomposition was not successful. The input might not be valid."
I am using my own gym env to test PILCO as a baseline, while this problem always occurs after about 2-3 iterations.
[code]
The main function is just mimic the inv_double_pendulum:
[code]
And I debug the input X and Y carefully, there is no NaN in the array. This is bothering me for a long time, so I wonder if you can give me a favor, I will appreciate that very much.

[2020-05-26 10:30] nrontsis commented on #46
Cholesky decomposition can fail when the input matrices have a bad condition number. See [similar issues](https://github.com/GPflow/GPflow/issues/553#issuecomment-345001251) on GPflow.

[2020-05-27 21:26] #46 closed

[2020-06-04 11:50] maxvanmeer commented on #44
I'm wondering the same thing, did you ever figure this out?

[2020-06-04 13:04] nrontsis commented on #44
The reward is calculated [here](https://github.com/nrontsis/PILCO/blob/master/pilco/models/pilco.py#L126-L136), so perhaps you could modify it to add what you need?

[2020-06-05 11:57] maxvanmeer commented on #44
I think I managed to implement it in the original Matlab version. What you can do is:
- Change the linear policy from M = W*m + b to M = W*m + b * r(t) for the current timestep t (make sure this t is passed to the function). Change the policy gradient dMdp as well - its gradient w.r.t. b used to be 1, but is r(t) now. I do not believe the gradient w.r.t the variance changes.
Alternatively, use ano

[2020-06-07 07:24] Skylark0924 commented on #46
Thank you for your response! Could you give me some advice about how to avoid this situation when using my own environment? The examples you gave are all ran successfully, but I really can't find out the difference with my own env.

[2020-06-22 09:20] canbooo opened #47 "[BUG] mountain_car.py fails due to missing import"
`from gpflow import set_trainable`
seems to be missing in examples/mountain_car.py which results in `NameError` on line 52

[2020-09-19 10:24] qiaoting159753 opened #50 "What is the V for in the predict_given_factorizations"
Hey there,

I would like to ask what is the V value returned from the "predict_given_factorizations". It seems like the next mean multiplied by something. But I am not sure what it means.

Would you please enlighten me.

Thanks.
Regards.
TIng

[2020-09-25 03:42] qiaoting159753 commented on #50
Sorry, to be more specific, what is 't' or 'predict_gf_t_calc' means in the mgpr.py, code 110?

Thanks

[2020-11-05 00:20] emsal1863 opened #52 "installation: issue with gast, tensorflow"
Starting up in a new virtualenv with Python 3.7.5 (arch linux)

(had to run sudo otherwise setup.py gives a permission denied)

Get this as the final error: **error: gast 0.2.2 is installed but gast>=0.3.2 is required by {'tensorflow-probability'}**

It seems there might be a dependency here that's underspecified (maybe tensorflow version is too high)

Full log:

[code]

[2020-11-05 23:58] #47 closed

[2020-11-18 18:26] jschwan2 commented on #52
Currently have the same issue. Any fixes?

[2020-11-18 19:38] emsal1863 commented on #52
I had some mileage by using pip's new 2020 resolver. Activate by upgrading pip to the latest version and setting the flag `--use-feature=2020-resolver`.

[2020-11-18 19:58] jschwan2 commented on #52
Thanks! The flag helped but now I'm receiving `Illegal instruction` when I import pilco. Is this happening for you?

[2020-11-28 23:45] emsal1863 commented on #52
Sorry for the late response, and sorry again that I'm not able to replicate that problem. I think there might be some work that needs to be done specifically for compatibility with GPflow 2.1, however

[2020-12-03 21:01] emsal1863 opened #54 "How do you save your trained model?"
I've tried using pickle but it's unable to serialize the `PILCO` object after training.

Is there a builtin save method? Or does another kind of serialization work? Thanks.

[2021-02-05 08:37] StefanGao1114 commented on #52
Hello, i have also the same issue. Have you solved this problem?

[2021-02-08 10:36] nrontsis commented on #52
I think that this has now been resolved. Feel free to reopen if you think it hasn't.

[2021-02-08 10:36] #52 closed

[2021-02-09 09:43] StefanGao1114 commented on #54
Hi, there was function to save and load model in pull requests Utils pr #17 when pilco using TF1 and GP1, but now no attribute 'read_values' in GP2. Have you any solutions now?

[2021-02-09 09:44] Pengxiao-Gao commented on #54
Hi, there was function to save and load model in pull requests Utils pr #17 when pilco using TF1 and GP1, but now no attribute 'read_values' in GP2. Have you any solutions now?

[2021-04-09 13:05] gitAugust opened #58 "Could you please share exact version of some dependency packages"
Hello，

I have installed dependency packages required in requirement.txt, but code can't run well under my environment.

when I run the example safe_swimmer_run.py, I meet the error`OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.` I guess that may be caused by wrong ver

[2021-08-21 09:58] DLPerf opened #59 "Performance issue in the definition of create_models, pilco/controllers.py(P1)"
Hello, I found a performance issue in the definition of `create_models`, pilco/controllers.py, [tf.ones](https://github.com/nrontsis/PILCO/blob/a89c36a428c59fa1ddd92e8e5e76cf05254f614d/pilco/controllers.py#L99) will be calculated repeatedly during program execution, resulting in reduced efficiency. I think it should be created before the loop.

The same issue exists in [`tf.ones` in line 31](https

[2021-08-31 02:28] BlueShit-1120 opened #60 "AttributeError: 'Parameter' object has no attribute 'value'"
When I run mountain_car.py in the examples file,  it works fine at the beginning, but after a while it will report an error. The error is

model GP1 is right
Traceback (most recent call last):
  File "C:/Users/xxwan/.mujoco/mujoco-py/PILCO-master/examples/mountain_car.py", line 57, in <module>
    pilco.optimize_models()
  File "c:\users\xxwan\desktop\tendontrack_pilco\pilco\models\pilco.py", line

[2021-12-20 11:55] shubham83183 opened #61 "NotImplementedError: Cannot convert a symbolic (graph mode) `DeferredTensor` to a numpy array."
Hello,
I followed the instructions given in readme file and installed all the modules and libraries from requirements.txt. But the model runs for first iteration and it gives following error.(that is while optimisation, pilco.optimize_policy())

NotImplementedError: Cannot convert a symbolic (graph mode) `DeferredTensor` to a numpy array.

[2022-03-08 21:49] hhdqirui commented on #61
I have the same issue. Did you manage to fix it?

[2022-04-15 10:36] shubham83183 commented on #61
Yes, I modified this file PILCO/pilco/models/pilco.py like this (I mean i changed optimizer to adam instead of Scipy by commenting out Scipy (line 84 to 91 in the file pilco.py) )
        if not self.optimizer:
            #self.optimizer = gpflow.optimizers.Scipy()
            self.optimizer = tf.optimizers.Adam()
            #self.optimizer.minimize(self.training_loss, self.trainable_variables,

[2022-05-18 09:05] fuku10 opened #62 "Is squash_sin() right?"
Hello,
In squash_sin(), M seems E[u_max sin(pi_tilde)], not E[u_max (9/8 sin(pi_tilde) + 1/8 sin(3 pi_tilde))].

[2022-05-18 09:33] fuku10 commented on #41
Hello,
Does it mean using numerical calculated gradient, not analytically calculated gradient?

[2022-05-18 18:11] nrontsis commented on #41
It’s neither, it’s via automatic differentiation.

[2022-05-19 05:47] fuku10 commented on #62
Now I understand!
9/8 sin(x) + 1/8 sin(3x) is used in "Gaussian Processes for Data-Efficient Learning in Robotics and Control," and sin(x) is used in "Efficient reinforcement learning using Gaussian processes."
And this code adopt sin(x).
Thanks!

[2022-05-19 05:47] #62 closed, assigned to nobody

[2022-05-19 06:25] fuku10 commented on #41
I thought the minimize() automatically calculate the gradient using the finite-difference method.
(In case of scipy.optimize.minimize;
 "If None or False, the gradient will be estimated using 2-point finite difference estimation with an absolute step size.")
 https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.minimize.html

Anyway, I'll study TensorFlow and GPflow.
Thanks!

[2022-05-30 12:40] Shubham831831 commented on #54
Hello,
We can save controller parameters (best_parameters variable in pilco) by using pickle and recreating the controller based on these parameters.
Procedure :
1. Save best_parameters of controller in pickle file during each iteration.
2. Recreate controller using controller.py and these parameters.
3. Use this controller on environment.

Example: For RBF controller
best_parameters contains: Dat

[2022-08-18 08:46] fuku10 opened #63 "Bugs in model update?"
Hello,
I found a strange behavior in model optimization of mgpr.py.

(1)
Is `best_params["k_lengthscales"] = model.kernel.lengthscales`
`best_params["lengthscales"] = model.kernel.lengthscales` ?

(2)
It seems that `best_params` is updated when `optimizer.minimize(model.training_loss, model.trainable_variables)` is executed. It means that the values of `best_params` always changes regardless of wh

[2022-08-19 01:46] fuku10 commented on #63
It seems that (2) was solved by using copy.deepcopy().

I added `import copy` and changed
[code]
to
[code]

Moreover, I changed
[code]
to
[code]
(Note that `"k_lengthscales"` is also changed to `"lengthscales"`.)